<!-- Toma K -->

<section class="section__gallery gallery" id="gallery">

    <div class="gallery__container">
        <h2 class="gallery__title is-hidden">daily trends</h2>
        <ul class="gallery__card-list card-list card-list__main">

            <li class="card-list__item">
                <img class="card-list__img" data-id="${id}" src="https://image.tmdb.org/t/p/w500${poster_path}" alt=" ${title} ">
                <h3 class="card-list__title">${title}</h1>
                <div class="card-list__info">
                    <p class="card-list__text">${genre_ids} |  ${year} </p>
                    <div class="card-list__rate-box"><p class="card-list__rate">${average}</p></div>
                </div>
            </li>

        </ul>
    </div>

</section>