<section class="section__gallery gallery" id="gallery">

    <div class="gallery__container">
        <h2 class="gallery__title is-hidden">daily trends</h2>
        <ul class="gallery__card-list card-list">

            <!-- <li class="card-list__item">
                <img class="card-list__img" src="" alt="">
                <h3 class="card-list__info card-list__title">Title</h1>
                <p class="card-list__info card-list__text">genre | year</p>
            </li> -->

        </ul>
    </div>

</section>