<!-- <button class="js-modal-open">Modal open</button> -->

<!-- is-hidden -->
<div class="description-backdrop js-backdrop is-hidden">
  <div class="description-modal">
    <!-- <div class="description-modal-close"> -->
    <button type="button" class="description-close-btn js-modal-close">
      <svg class="description-close-icon">
        <use href="./images/sprite-icons.svg#icon-close"></use>
      </svg>
    </button>

    <!-- <div class="description-modal_wrap"> -->
    <div class="description-modal_info ">
      <div class="info">
        <div class="description-btn">
      <a href="#" class="card-list_link"><button class="description-modal_btn watched js-watched">add to Watched</button></a>
      <a href="#" class="card-list_link"><button class="description-modal_btn queue js-queue">add to queue</button></a>
    </div></div>
    </div>
    <!-- <img
        class="description-modal_img"
        src="https://image.tmdb.org/t/p/w500${poster_path}"
        alt=""
      />
    <div>
        <h2 class="description-modal_title">${title}</h2>
        <ul class="description-modal_list">
          <li class="description-modal_item">
            <p>Vote/Voles</p>
            <span class="description-rating">${vote_average} </span>
            <span> / ${vote_count}</span>
          </li>
          <li class="description-modal_item">
            <p>Popularity</p>
            <span>${popularity}</span>
          </li>
          <li class="description-modal_item">
            <p>Original Title</p>
            <span>${original_title}</span>
          </li>
          <li class="description-modal_item">
            <p>Genre</p>
            <span>${genresEl.join(', ')}</span>
          </li>
          <li class="description-modal_item">
            <p class="description-modal_about">ABOUT</p>
            <p class="description-modal_about">${overview}</p>
          </li>          
        </ul>
        <div class="description-btn">
        <button class="description-modal_btn watched">add to Watched</button>
        <button class="description-modal_btn queue">add to queue</button>
        </div>
    </div>         -->
    <!-- </div> -->
    
  </div>
</div>
