<div class="backdrop is-hidden" data__footer-modal>
    <div class="footer-modal">
      <button type="button" class="footer__close-btn">
        <svg class="footer-icon-close" height="40" width="40">
          <use href="/src/images/footer_images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="footer-modal-container">
            <h2 class="footer-section-title">Team G7</h2>
            <ul class="team-list">
                <li class="team-list-list">
                <img
                  class="team-foto"
                  src="/src/images/footer_images/tatiana-novitska.jpg"
                  alt="Tatiana"
                  width="140"
                  height="130"
                     />

                   <div class="name-position">
                       <h3 class="name">Novitska Tatiana</h3>
                        <p class="position">Team-lead</p>
                        <a href="" class="team-soc-link link">
                          <svg class="team-soc-icon" width="32" height="32">
                            <use href="/src/images/footer_images/icons.svg#icon-git"></use>
                          </svg>
                        </a>
                        <p class="description">Керівник команди розробників, гарне володіння технічною стороною, 
                        активна участь в роботі над архітектурою проєкту, рев'ю коду. Налаштування API з фільмів та розробка пагінації на головній сторінці</p>
                        
                   </div>
                </li>
            <li class="team-list-list">
              <img
                  class="team-foto"
                  src="/src/images/footer_images/kapitonenko-tamara.jpg"
                  alt="Tamara"
                  width="140"
                  height="130"
                />
              <div class="name-position">
                <h3 class="name">Kapitonenko Tamara</h3>
                <p class="position">Scrum-master</p>
                <a href="" class="team-soc-link link">
                  <svg class="team-soc-icon" width="32" height="32">
                    <use href="/src/images/footer_images/icons.svg#icon-git"></use>
                  </svg>
                </a>
                <p class="description">Регулювання терміну виконання проєкту. Здійснення щоденного Stand Up для планування роботи команди. Верстка контейнеру сторінки "My library" та шаблону картки одного фільму</p>
              </div>
            </li>
            <li class="team-list-list">
                <img
                    class="team-foto"
                    src="/src/images/footer_images/kulay-anastasia.jpg"
                    alt="Anastasia"
                    width="140"
                    height="130"
                  />
                <div class="name-position">
                  <h3 class="name">Kulay Anastasia</h3>
                  <p class="position"> Developer</p>
                  <a href="" class="team-soc-link link">
                    <svg class="team-soc-icon" width="32" height="32">
                      <use href="/src/images/footer_images/icons.svg#icon-git"></use>
                    </svg>
                  </a>
                  <p class="description">Розробка хедеру головної сторінки та сторінки "My library" за допомогою основних технологій HTML, CSS, JS </p>
                </div>
              </li>
            
            <li class="team-list-list">
              <img
                  class="team-foto"
                  src="/src/images/footer_images/kovalova-ekatherina.jpg"
                  alt="Ekatherina"
                  width="140"
                  height="130"
                />

              <div class="name-position">
                <h3 class="name">Kovalova Ekatherina</h3>
                <p class="position">Developer</p>
                <a href="" class="team-soc-link link">
                  <svg class="team-soc-icon" width="32" height="32">
                    <use href="/src/images/footer_images/icons.svg#icon-git"></use>
                  </svg>
                </a>
                <p class="description">Розробка модального вікна з динамічно підставленою інформацією про фільм, 
                  додавання фільму до черги поточного користувача за натисканням на кнопку "ADD TO QUEUE" та додавання фільму до переглянутих фільмів поточного користувача за натисканням на кнопку "ADD TO WATCHED" </p>
              </div>
            </li>
            <li class="team-list-list">
              <img
                  class="team-foto"
                  src="/src/images/footer_images/medvedeva-irina.jpg"
                  alt="Irina"
                  width="140"
                  height="130"
                />
              <div class="name-position">
                <h3 class="name">Medvedeva Irina</h3>
                <p class="position">Developer</p>
                <a href="" class="team-soc-link link">
                  <svg class="team-soc-icon" width="32" height="32">
                    <use href="/src/images/footer_images/icons.svg#icon-git"></use>
                  </svg>
                </a>
                <p class="description">Реалізація пошуку, відображення фільмів за ключовим словом, відтворення відповідної частини фільмів при переході на кожну сторінку</p>
              </div>
            </li>
            <li class="team-list-list">
                <img
                    class="team-foto"
                    src="/src/images/footer_images/hanna-tubolets.jpg"
                    alt="Hanna"
                    width="140"
                    height="130"
                  />
  
                <div class="name-position">
                  <h3 class="name">Tubolets Hanna</h3>
                  <p class="position">Developer</p>
                  <a href="" class="team-soc-link link">
                    <svg class="team-soc-icon" width="32" height="32">
                      <use href="/src/images/footer_images/icons.svg#icon-git"></use>
                    </svg>
                  </a>
                  <p class="description">Відтворення переглянутих фільмів користувача за натисканням на кнопку "WATCHED" та фільмів, доданих в чергу користувача за натисканням на кнопку "QUEUE"</p>
                </div>
              </li>
            <li class="team-list-list-last">
              <img
                  class="team-foto"
                  src="/src/images/footer_images/kulibaba-ksenya.jpg"
                  alt="Ksenya"
                  width="140"
                  height="130"
                />
              <div class="name-position">
                <h3 class="name">Kulibaba Ksenya</h3>
                <p class="position"> Developer</p>
                <a href="" class="team-soc-link link">
                  <svg class="team-soc-icon" width="32" height="32">
                    <use href="/src/images/footer_images/icons.svg#icon-git"></use>
                  </svg>
                </a>
                <p class="description">Розробка футеру головної сторінки та сторінки "My library", модального вікна з інформацією про учасників команди за допомогою основних технологій HTML, CSS, JS</p>
              </div>
            </li>  
          </ul>
      </div>
    </div>
</div>

