// // Toma K

/* container - контейнер созтягується на весь екран */
.container{
    // display: flex;
    padding: 15px;
    padding-right: 15px;

    background-color: #ffffff;
}

/* div - блок для контенту */
.gallery__container {
    // border-top: 1px solid tomato;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    
    padding: 15px;
    padding-right: 15px;


    @include tablet {
        max-width: calc( 336 * 2 + 32 + 30 );
    }
    @include desktop {
        max-width: calc( 395 * 3 + 16 * 2 + 30 );
    }
}

/* h2 - заголовок секції */
/* is-hidden */

/* ul - контейнер для списку фільмів*/
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;

    @include tablet {
        gap: 32px;
    }
    @include desktop {
        column-gap: 16px;
    }
}

/* li - елемент списку фільмів */
.card-list__item {
    width: 100%;
    max-width: 480px;
    // height: 443px;

    position: relative;

    @include tablet {
        max-width: 336px;
        height: 495px;
    }
    @include desktop {
        max-width: 395px;
        height: 634px;
    }
}

/* - обкладинка фільму - назва жанр рік */
.card-list__img {
    width: 100%;
    // height: 100%;
    // max-height: 402px;

    border-radius: 5px;
    background: #E5E5E5;

    @include tablet {
        max-height: 455px;
    }

    @include desktop {
        max-height: 574px;
    }
}

/* - властивості фільму - назва жанр рік */
.card-list__title,
.card-list__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);

    @include tablet {
        line-height: calc(16 / 12);
    }

    @include desktop {
        font-size: 20px;
        line-height: calc(24 / 20);
    }
}

.card-list__title {    
    text-transform: uppercase;
    color: #000000;

    padding-top: 10px;

    @include tablet {
        padding-top: 8px;
    }

    @include desktop {
        padding-top: 12px;
    }
}

.card-list__text {
    color: #FF6B08;
}

// позиціонування жанрів, року і рейтингу в 1 строчку
.card-list__info{
    display: inline-flex;
    flex-direction: row;
    gap: 8px;
}

.card-list__rate-box{
    width: 40px;
    height: 20px;

    background: #FF6B01;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-list__rate{
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #FFFFFF;
}